@import "tailwindcss";
@import "tw-animate-css";

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection{
  color: aliceblue;
  background: #000;
}

@font-face {
  font-family: normal;
  src: url(../public/Font/normal.otf);  
}
@font-face {
  font-family: logo;
  src: url(../public/Font/logo.ttf);  
}
@font-face {
  font-family: saira;
  src: url(../public/Font/saira.ttf);  
}
@font-face {
  font-family: muller;
  src: url(../public/Font/muller.ttf);  
}
@font-face {
  font-family: petro;
  src: url(../public/Font/petro.ttf);  
}
